* {
    margin: 0;
    padding: 0;
  }
.mainBlock{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px
}
.Spinner{
  padding: 10px;
}